%h1 Dashboard

%nav
  = link_to 'Hospitals', dashboard_tab_path('hospitals'),
      data: { turbo_frame: 'tab_content', turbo_action: 'advance' }

  = link_to 'Doctors', dashboard_tab_path('doctors'),
      data: { turbo_frame: 'tab_content', turbo_action: 'advance' }

  = link_to 'Patients', dashboard_tab_path('patients'),
      data: { turbo_frame: 'tab_content', turbo_action: 'advance' }

%hr

= turbo_frame_tag 'tab_content' do
  = render "dashboard/#{@tab}"