= simple_form_for profile do |f|
  = f.association :doctor
  = f.input :experience
  = f.input :consultation_fee
  = f.input :languages_spoken,
            as: :check_boxes,
            collection: ["English", "Hindi", "Kannada", "Tamil", "Telugu", "Spanish"]
  = f.button :submit