%tr{id: dom_id(hospital)}
  %td
    = turbo_frame_tag dom_id(hospital) do
      = link_to hospital.name, doctors_hospital_path(hospital), data: { turbo_frame: dom_id(hospital, :doctors) }
      = link_to "Edit", edit_hospital_path(hospital), data: { turbo_frame: dom_id(hospital) }
  %td= link_to "Delete", hospital_path(hospital), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
  %td= turbo_frame_tag dom_id(hospital, :doctors)