= turbo_stream.remove dom_id(@hospital)

= turbo_stream.update "hospital_count" do
  = @hospitals_count
  
= turbo_stream.update "notification" do
  %p{style: "color: red"}= "#{@hospital.name} deleted successfully"