= turbo_frame_tag "tab" do
  %div{style: "display:flex; justify-content:center;"}
    %div
      %h1{style:"color:navy;"} Hospitals
      = render "notification"
      = turbo_frame_tag "modal"

      = link_to "New hospital", new_hospital_path, data: {turbo_frame: "modal"}

      %table{border: "1"}
        %thead
          %tr
            %th Name
            %th Action
        %tbody#hospitals_table_body
          - @hospitals.each do |hospital|
            = render "hospital_row", hospital: hospital