= turbo_frame_tag "tab" do
  %div{style: "display:flex; justify-content:center;"}
    %div
      %h1{style: "color: navy;"} Appointments
      - if flash[:notice]
        %p{style: "color: red;"}= flash[:notice]
      
      = turbo_frame_tag "modal"
      = link_to "New appointment", new_appointment_path, data:{turbo_frame: "modal"}

      %table{border: "1"}
        %thead
          %tr
            %th Notes
            %th Scheduled At
            %th Status
            %th Doctor
            %th Patient
            %th{colspan: "4"} Actions
        %tbody#appointments_table_body
          - @appointments.each do |appointment|
            = render "appointment_row", appointment: appointment