%nav{style: "display: flex; justify-content: space-evenly; background-color: lightblue;"}
  %div 
    %h1 Hospital Management
  %div 
    %ul
      %li= link_to "Hospitals", hospitals_path
      %li= link_to "Doctors", doctors_path
      %li= link_to "Patients", patients_path
      %li= link_to "Appointments", appointments_path
      %li= link_to "Doctor Profiles", profiles_path
      